

      <div class="content">
        <div class="row ">
            <div class="d-flex justify-content-end col-sm-12">
            <div class="container p-3 my-3 border position-relative">
               
              <h1 class="matter" display-2>
                
                If you have the
                <br>
                courage to start,
                <br>
                you have the courage
                <br>
                to succeed.
            </h1>
            
            </div>
            </div>
            <div class="col-sm-12">
                
            <a href="pc" class="fitnessappointment btn display-4 btn-primary btn-block " routerLink="add">Apply for Trainee</a>
           
           </div>
        </div>
     </div>  

    




